/*--------------------------------------------
- Main Menu
---------------------------------------------*/
.menu {
	z-index: $zindex-fixed;
	position: fixed;
	top: 0;
	left: 0;
	width: 80vw;
	height: 100vh;
	padding-bottom: 1em;
	transform: translate3d(-100%,0,0);

	background: rgba(color('white'), .95);
	box-shadow: 0 0 0 0 rgba(0,0,0,.2);

	@include bp(48) {
		width: 60vw;
	}
	@include bp(70) {
		width: 40vw;
	}
	@include bp('md') {
		width: 33rem;
	}

	.window-is-loaded & {
		transition: transform .4s ease-in-out, box-shadow .4s ease-in-out;
	}

	.menu__logo {
		padding: 1.3rem 0 1.3rem 1rem;

		border-bottom: .1rem dotted color('neutrals-4');

		img {
			display: block;
			width: 175px;
			height: 67px;

			@include bp('md') {
				width: 190px;
				height: 70px;
			}
			@include bp('lg') {
				width: 205px;
				height: 77px;
			}
		}
	}

	ul {
		padding: 0;

		list-style: none;
	}
	ul li {
		display: block;
		margin: .25em;
		padding: 0 1rem;
	}
	ul li a {
		@extend p;

		display: inline-block;
		padding: .5em 0 .25em;

		border-bottom: 1px solid white;

		text-decoration: none;

		transition: border .5s linear;
	}
	ul li a:hover {
		border-bottom: 1px solid color('brand-1');
	}

	/*--------------------------------------------
    - Transition
    ---------------------------------------------*/
	.js-menu--isOpen & {
		transform: translate3d(0,0,0);

		box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
	}
}

/*--------------------------------------------
- Menu controler
---------------------------------------------*/
.menu__control-mobile {
	z-index: $zindex-fixed;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2.8rem;

	color: black;

	mix-blend-mode: difference;
	transition: left .4s ease-in-out;
	user-select: none;

	@include bp('lg') {
		display: none;
	}

	@supports (mix-blend-mode: difference) {
		color: color('neutrals-1');

		mix-blend-mode: difference;
	}

	.menu__CtrlButton {
		font-size: 2em;

		cursor: pointer;
	}

	// js
	.js_scrolling-up &,
	.js_scrolling-deadzone & {
		left: 0;
	}
	.js_scrolling-down & {
		left: -100%;
	}
}
