@import '../../../01_fundaments/colors/styles/_settings';
@import '../../../01_fundaments/layout/styles/_settings';

/* Car edit button
---------------------------------------------*/
.button--edit {
	position: relative;
	z-index: 1;
	display: none;
	width: 10rem;
	height: 10rem;
	padding: 0;
	font-size: 5rem;
	border-radius: 50%;
	opacity: .9;
	box-shadow: 0 0 1rem 0 rgba(color('black'),.26);

	@include media('md') {
		width: 6.5rem;
		height: 6.5rem;
		font-size: 3.5rem;
	}

	&:hover {
		opacity: 1;
	}

	.car:hover & {
		display: inline-flex;
	}
}
