@import '../../../01_fundaments/colors/styles/_settings';

/* Car color selection button
---------------------------------------------*/
.button--color {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	outline: 0;
	box-shadow: inset 0 0 0 .15rem color('white');

	&.car--color-0 {
		border: .15rem solid var(--car--color-0);
		background: var(--car--color-0);
	}

	&.car--color-1 {
		border: .15rem solid var(--car--color-1);
		background: var(--car--color-1);
	}

	&.car--color-2 {
		border: .15rem solid var(--car--color-2);
		background: var(--car--color-2);
	}

	&.car--color-3 {
		border: .15rem solid var(--car--color-3);
		background: var(--car--color-3);
	}
}
