@import '../../../01_fundaments/utilities/styles/_settings';

/* Carpart option
---------------------------------------------*/
.luggage {
	display: grid;
	align-items: flex-end;
	grid-template-areas: 'luggage';
	max-width: 28rem;

	@include keyframes(moving-luggage) {
		50% {
			transform: translate(.2rem, -.2rem) rotate(.25deg);
		}
	}

	/* Component placement
	---------------------------------------------*/
	.suitecase,
	.roofRack {
		grid-area: luggage;
	}

	.suitecase {
		margin-bottom: 1.25rem;
		margin-left: 15%;

		&--small {
			margin-right: 15%;
			margin-left: auto;
		}
		&--large {
			margin-right: auto;
			margin-left: auto;
		}
	}

	/* Moving luggage Animation
	---------------------------------------------*/
	.car--moving & {
		.suitecase {
			@include animation(moving-luggage 1s ease .3s infinite);

			&--small {
				@include animation(moving-luggage 1s ease .5s infinite);
			}
			&--large {
				@include animation(moving-luggage 1s ease .4s infinite);
			}
		}
	}
}
