/* ==========================================================================
JS breakpoint indicator
========================================================================== */

/**
*
* Get the content if you need to know the current breakpoint in JS.
*
*/

body:before {
	position: absolute;
	left: -99999rem;
	visibility: hidden;
	content: '--';

	@each $breakpoint, $value in $breakpoints {
		@include media($breakpoint) {
			content: $breakpoint;
		}
	}
}
