@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option - Wheel sub-component
---------------------------------------------*/
.tire {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	background: radial-gradient(color('neutrals-3'), color('neutrals-3'), color('neutrals-7'), color('neutrals-8'));

	/* Sidewall
	---------------------------------------------*/
	&--sidewall {
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			display: block;
			width: 12rem;
			height: 12rem;
			border: 2.5rem solid color('white');
			border-radius: 50%;
			content: '';
		}
	}
}
