@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option - Luggage sub-component
---------------------------------------------*/
.suitecase {
	position: relative;
	width: 7rem;
	height: 7rem;
	overflow: hidden;
	border-radius: 2rem;
	background: lightcoral;
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Suitecase braces
	---------------------------------------------*/
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		display: block;
		width: .5rem;
		background: lightcyan;
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';
	}

	&:before {
		left: 25%;
	}

	&:after {
		left: 72%;
	}

	/* Suitecase Sizes
	---------------------------------------------*/
	&--large {
		width: 14rem;
		height: 9rem;
		background: lightskyblue;
	}

	&--small {
		width: 7rem;
		height: 5rem;
		background: lightgreen;

		&:before {
			left: 50%;
		}

		&:after {
			display: none;
		}
	}
}
