@import '../../../01_fundaments/layout/styles/_settings';

/* Editor - Car placement
---------------------------------------------*/
.car-wrapper {
	position: relative;
	z-index: 1;
	width: 30rem;
	height: 17.5rem;
	margin: auto;
	overflow: hidden;

	@include media('sm') {
		width: 42rem;
		height: 24.5rem;
	}
	@include media('md') {
		width: 65rem;
		height: 37.5rem;
	}
	@include media('lg') {
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
	}

	/* Car sizes & placement
	---------------------------------------------*/
	.car {
		transform: scale(.35);
		transform-origin: left;
		position: absolute;
		top: -16.5rem;
		left: 0;

		@include media('sm') {
			transform: scale(.5);
			top: -13.5rem;
		}
		@include media('md') {
			transform: scale(.75);
			top: -7.5rem;
		}
		@include media('lg') {
			transform: scale(1);
			position: static;
			top: 0;
		}
	}
}
