#outdated {
	display: none;
	z-index: 1500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	background-color: color('brand-1');

	color: color('white');
	text-align: center;
	text-transform: uppercase;

	// edge < 16
	@supports (-ms-ime-align:auto) and (not (position:sticky)) {
		display: block !important;
	}

	#btnUpdateBrowser {
		border: 2px solid color('white');

		background: transparent;

		&:hover {
			background-color: color('white');

			color: color('brand-1');
		}
	}
	.last {
		position: absolute;
		top: 10px;
		right: 25px;
		width: 20px;
		height: 20px;
		&[dir='rtl'] {
			right: auto !important;
			left: 25px !important;
		}
	}
	#btnCloseUpdateBrowser {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;

		color: color('white');
		font-size: 36px;
		line-height: 36px;
		text-decoration: none;
	}
	* html & {
		position: absolute;
	}
}
