.blockquote {
	position: relative;
	padding: 4.5rem 0 0 0;

	@include bp('md') {
		max-width: 50rem;
	}

	& > * {
		display: block;
		margin: 0;
		padding: 0;

		color: color('neutrals-6');
		font-size: 1.4rem;
		line-height: 2rem;

		@include bp('md') {
			font-size: inherit;
			line-height: inherit;
		}
	}

	&:before {
		content: '“';

		display: block;
		position: absolute;
		top: 2rem;
		left: -2.5rem;
		margin-right: spacing('xsmall');

		color: color('brand-1');
		font-family: Georgia, serif;
		font-size: 8rem;
		font-weight: font-weight('bold');
		line-height: 2rem;

		@include bp('sm') {
			left: -3rem;

			font-size: 10rem;
		}
	}

	p {
		@extend %default-margin;
	}

	cite {
		margin-top: spacing('xxsmall');

		font-size: 85%;
	}
}
