@import '../../../01_fundaments/colors/styles/_settings';

/* Car default component
---------------------------------------------*/
.trunk {
	display: grid;
	grid-template-areas: 'logo'
	'.';
	width: 100%;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Branding logo
	---------------------------------------------*/
	&__brand {
		grid-area: logo;
		width: 100%;
		max-width: 5rem;
		margin: 10% auto 0 10%;
	}
}
