@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option - Wheel sub-component
---------------------------------------------*/
.rim {
	transform: rotate(45deg);
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 10rem;
	height: 100%;
	max-height: 10rem;
	overflow: hidden;
	border: 1rem solid color('neutrals-4');
	border-radius: 50%;
	background: radial-gradient(circle at 50%, color('neutrals-5') 0%, color('neutrals-8') 50%, color('neutrals-3'));

	/* Spokked rim
	---------------------------------------------*/
	&:before,
	&:after {
		position: absolute;
		display: block;
		width: 8rem;
		height: 1.5rem;
		background: linear-gradient(color('neutrals-3'), color('neutrals-6'), color('neutrals-3'));
		opacity: .7;
		content: '';
	}

	&:after {
		transform: rotate(90deg);
	}

	/* Solid rim
	---------------------------------------------*/
	&--solid {
		&:before,
		&:after {
			width: 102%;
			height: 98%;
			background: radial-gradient(circle at 50%, color('neutrals-1'), color('neutrals-8') 30%, color('neutrals-3') 7%, color('neutrals-8') 75%);
			opacity: 1;
		}
	}

	/* Rim color
	---------------------------------------------*/
	&--gold {
		filter: sepia(1);
	}

	&--dark {
		filter: brightness(50%);
	}
}
