/* ================================
Images
=================================== */

img {
	display: block;
	width: 100%;
	max-width: 100%;
}

/** Figure
----------------------------------- */
figure {
	margin: 0;
}

figcaption {
	padding-top: .5rem;
	float: left;

	color: color('neutrals-5');
	font-size: 1.2rem;
	line-height: 1.5rem;
}
