@import '../../../01_fundaments/colors/styles/_settings';
@import '../../../01_fundaments/layout/styles/_settings';
@import '../../../01_fundaments/utilities/styles/_settings';

@import '../../button/styles/button';

/* Homepage brand selection
---------------------------------------------*/
.brand {
	@extend .button;
	@extend .button--white;
	@include transition(transform .3s cubic-bezier(.175, .885, .32, 1.275));

	display: flex;
	flex: 0 0 100%;
	align-items: flex-start;
	flex-direction: column;
	max-width: 100%;
	padding: 0;
	appearance: none;
	box-shadow: inset 0 0 0 .15rem color('neutrals-3');

	&__logo {
		display: block;
		width: 75%;
		margin: auto;
		padding: 1rem;

		object-fit: contain;

		@include media('sm') {
			padding: 1rem;
		}
	}

	&__name {
		width: 100%;
		padding: .5rem 2rem;
		text-align: center;
		border-top: .1rem solid color('neutrals-3');
	}

	&--is-selected {
		@include scale(1.2);

		z-index: 1;
	}
}
