.hero {
	display: grid;
	min-height: 100vh;
	padding: $gutter;

	grid-gap: $gutter;

	@include bp('md') {
		grid-template-columns: 1fr 2fr;
	}
	@include bp('xl') {
		grid-template-columns: 2fr 2fr .25fr;
	}
	@media screen and (orientation: landscape) and (min-width: breakpoint('md')) {
		grid-template-columns: 1.75fr 2fr;
	}
	@media screen and (orientation: portrait) and (min-width: breakpoint('md')) {
		grid-template-columns: 1fr 6fr 1fr;
	}

	// ie11
	@media all and (-ms-high-contrast:none) {
		display: -ms-flexbox;
		justify-content: center;
		min-height: auto;
		padding-top: 6rem;
	}
	// edge
	@supports (-ms-ime-align:auto) and (not (position:sticky)) {
		display: flex;
		justify-content: center;
		min-height: auto;
		padding-top: 6rem;
	}


	// hero header / hero quote
	.hero__header,
	.hero__quote {
		display: flex;
		flex-direction: column;
		align-self: center;

		@include bp('lg') {
			justify-self: center;
		}

		@media screen and (orientation: portrait) and (min-width: breakpoint('md')) {
			grid-column-start: 2;
		}
	}

	.hero__header {
		padding: 2rem 0 2rem 2rem;

		@media screen and (orientation: portrait) and (min-width: breakpoint('md')) {
			padding: 0;
		}

		// ie11
		@media all and (-ms-high-contrast:none) {
			margin-right: 6rem;
		}

		h1 {
			color: rgba(64, 64, 64, 1);
		}

		// text
		p {
			color: color('neutrals-6');
		}

		// button
		.button {
			align-self: flex-start;
			margin-top: spacing-large('onefold');
		}
	}

	.hero__quote {
		p {
			text-align: justify;
		}

		strong,
		em {
			color: rgba(77, 77, 77, 1);
		}
	}
}
