	/* ==========================================================================
   Typography mixins
   ========================================================================== */

   /* @fontface
	*  @include font-face('icons', normal, normal, 'icons');
	*  @include font-face('Raleway',   400, normal, 'raleway-regular');
	*  @include font-face('Raleway',   400, italic, 'raleway-regularitalic');
      ========================================================================== */

	@mixin font-face($name, $font-weight, $font-style, $filename) {
	    @font-face {
	        font-family: $name;
	        src: url('#{$font-path}#{$filename}.eot');
	        src: url('#{$font-path}#{$filename}.eot?#iefix') format('embedded-opentype'),
	             // url('#{$font-path}#{$filename}.woff2') format('woff2'),
	             url('#{$font-path}#{$filename}.woff') format('woff'),
	             url('#{$font-path}#{$filename}.ttf') format('truetype'),
	             url('#{$font-path}#{$filename}.svg##{$filename}') format('svg');
	        font-weight: $font-weight;
	        font-style: $font-style;
	    }
	}