/* ================================
Link
=================================== */

/** Anchor tag
----------------------------------- */
a {
	outline: none;

	color: color('text');
	text-decoration: none;
}

/** Default link
----------------------------------- */
%link,
.link {
	@include transition(all .3s ease);

	border-bottom: .1rem solid color('brand-1');

	&:hover,
	&:visited,
	&:focus {
		color: color('brand-1');
	}

	&:active {
		color: color('brand-2');
	}
}
