@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.turbo {
	position: relative;
	display: inline-flex;
	align-items: flex-end;
	width: 80%;
	max-width: 20rem;
	height: 5rem;
	overflow: hidden;
	border-top-right-radius: 100%;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	/* Optical elevation
	---------------------------------------------*/
	&:before {
		position: relative;
		z-index: 1;
		display: block;
		width: 20%;
		height: 2rem;
		border-top-right-radius: 100%;
		background: color('white');
		box-shadow: 0 0 0 .15rem color('neutrals-6');
		content: '';
	}

	/* Decal Striping
	---------------------------------------------*/
	&:after {
		position: absolute;
		top: 60%;
		display: block;
		width: 100%;
		height: 2.5rem;
		border-top-right-radius: 100%;
		background: var(--car--color);
		box-shadow: 0 0 0 .15rem color('neutrals-6');
		content: '';

		filter: brightness(80%);
	}
}
