/**
*
* COLORS: GENERAL
*
*/

html {
	background-color: color('white');
}

body {
	background-color: color('white');

	color: color('text');
}

::selection {
	background: color('neutrals-5');

	color: color('black');
}

::-moz-selection {
	background: color('neutrals-5');

	color: color('black');
}
