@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart option
---------------------------------------------*/
.roofExtention {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--car--color);

	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	filter: brightness(35%);
}
