/* ================================
Tags
=================================== */

.tag {
	display: inline-flex;
	padding: 0rem .25rem;

	border-radius: .8rem;

	background: color('neutrals-1');

	color: color('neutrals-7');
	font-size: 1.2rem;
	text-transform: lowercase;

	cursor: default;

	@include bp('lg') {
		padding: .5rem 1rem;
	}
}


.tag__title {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

/** Tag listing
----------------------------------- */
.tag__listing {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	@include bp('sm') {
		justify-content: flex-start;
	}

	.tag {
		flex-grow: 1;
		justify-content: center;
		margin-right: .5rem;
		margin-bottom: .5rem;

		@include bp('sm') {
			margin-right: .5rem;
		}
	}
}
