/**
*
* HEADINGS
*
*/

%heading--1,
.heading--1 {
	margin: 0 0 margin('h1') 0;

	font-family: font('special');
	font-size: font-size('h1');
	font-weight: font-weight('bold');
	// text-transform: uppercase;
	/* Defaults */
	line-height: line-height('h1');

	@include bp('md') {
		margin: 0 0 margin('h1','tablet') 0;

		font-size: font-size('h1','tablet');
		line-height: line-height('h1','tablet');
	}
	@include bp('lg') {
		margin: 0 0 margin('h1','desktop') 0;

		font-size: font-size('h1','desktop');
		line-height: line-height('h1','desktop');
	}
}

%heading--2,
.heading--2 {
	margin: 0 0 margin('h2') 0;

	font-family: font('special');
	font-size: font-size('h2');
	font-weight: font-weight('bold');
	// text-transform: uppercase;
	/* Defaults */
	line-height: line-height('h2');

	@include bp('md') {
		margin: 0 0 margin('h2','tablet') 0;

		font-size: font-size('h2','tablet');
		line-height: line-height('h2','tablet');
	}
	@include bp('lg') {
		margin: 0 0 margin('h2','desktop') 0;

		font-size: font-size('h2','desktop');
		line-height: line-height('h2','desktop');
	}
}

%heading--3,
.heading--3 {
	margin: 0 0 margin('h3') 0;

	font-family: font('special');
	font-size: font-size('h3');
	font-weight: font-weight('bold');
	// text-transform: uppercase;
	/* Defaults */
	line-height: line-height('h3');

	@include bp('md') {
		margin: 0 0 margin('h3','tablet') 0;

		font-size: font-size('h3','tablet');
		line-height: line-height('h3','tablet');
	}
	@include bp('lg') {
		margin: 0 0 margin('h3','desktop') 0;

		font-size: font-size('h3','desktop');
		line-height: line-height('h3','desktop');
	}
}

%heading--4,
.heading--4 {
	margin: 0 0 margin('h4') 0;

	font-family: font('special');
	font-size: font-size('h4');
	font-weight: font-weight('bold');
	// text-transform: uppercase;
	/* Defaults */
	line-height: line-height('h4');

	@include bp('md') {
		margin: 0 0 margin('h4','tablet') 0;

		font-size: font-size('h4','tablet');
		line-height: line-height('h4','tablet');
	}
	@include bp('lg') {
		margin: 0 0 margin('h4','desktop') 0;

		font-size: font-size('h4','desktop');
		line-height: line-height('h4','desktop');
	}
}

%heading--5,
.heading--5 {
	margin: 0 0 margin('h5') 0;

	font-family: font('special');
	font-size: font-size('h5');
	font-weight: font-weight('bold');
	// text-transform: uppercase;
	/* Defaults */
	line-height: line-height('h5');

	@include bp('md') {
		margin: 0 0 margin('h5','tablet') 0;

		font-size: font-size('h5','tablet');
		line-height: line-height('h5','tablet');
	}
	@include bp('lg') {
		margin: 0 0 margin('h5','desktop') 0;

		font-size: font-size('h5','desktop');
		line-height: line-height('h5','desktop');
	}
}

%heading--6,
.heading--6 {
	margin: 0 0 margin('h6') 0;

	font-family: font('special');
	font-size: font-size('h6');
	font-weight: font-weight('bold');
	// text-transform: uppercase;
	/* Defaults */
	line-height: line-height('h6');

	@include bp('md') {
		margin: 0 0 margin('h6','tablet') 0;

		font-size: font-size('h6','tablet');
		line-height: line-height('h6','tablet');
	}
	@include bp('lg') {
		margin: 0 0 margin('h6','desktop') 0;

		font-size: font-size('h6','desktop');
		line-height: line-height('h6','desktop');
	}
}
