.grid {
	&__item {
		outline: 1px solid rgba(color('black'), .05);

		background: color('white');
		box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.2);

		&:hover {
			box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,.125);
		}

		@at-root {
			.page-target:target ~ .grid > &:hover {
				box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.2);
			}
		}
	}
}
