/**
*
* COLORS: classes
*
*/

@each $colorName, $colorValue, $color in $colors {
	.color-#{$colorName} {
		color: color(#{$colorName});
	}
	.color-#{$colorName}-darker {
		color: color(#{$colorName}, darker);
	}
	.color-#{$colorName}-lighter {
		color: color(#{$colorName}, lighter);
	}

	.background-#{$colorName} {
		background-color: color(#{$colorName});
	}
	.background-#{$colorName}-darker {
		background-color: color(#{$colorName}, darker);
	}
	.background-#{$colorName}-lighter {
		background-color: color(#{$colorName}, lighter);
	}
}
