/**
 *
 * TYPOGRAPHY: GENERAL
 *
 */

/* ==========================================================================
Import custom font
Import Icons

@include font-face($name, $font-weight, $font-style, $filename);
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:700');


/* ==========================================================================
Document
========================================================================== */

html {
	/* Defaults */
	font-size: 62.5%;

	-webkit-text-size-adjust: 100%;
}

body {
	font-family: font('main');
	font-size: font-size('body');
	font-weight: font-weight('regular');
	line-height: line-height('body');
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	/* Defaults */
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	@include bp('md') {
		font-size: font-size('body','tablet');
		line-height: line-height('body','tablet');
	}
	@include bp('lg') {
		font-size: font-size('body','desktop');
		line-height: line-height('body','desktop');
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: font('special');
}

/* ==========================================================================
htlm element reset
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
Default margins
========================================================================== */

%default-margin {
	margin: 0 0 margin('body') 0;

	@include bp('md') {
		margin: 0 0 margin('body','tablet') 0;
	}
	@include bp('lg') {
		margin: 0 0 margin('body','desktop') 0;
	}
}
