/* ================================
Button
=================================== */

.button {
	@include transition(all .3s ease);

	display: inline-flex;
	position: relative;
	align-items: center;
	min-width: 15rem;
	padding: .5rem 3.25rem;

	border: .2rem solid color('brand-1');
	border-radius: .8rem;
	outline: 0;

	background: color('brand-1');

	color: color('white');
	text-align: center;
	text-decoration: none;

	cursor: pointer;

	/** Hover state
	----------------------------------- */
	&:hover,
	&:visited,
	&:focus {
		box-shadow: 0 0 1rem 0 rgba(color('black'),.26);
	}

	/** Active state
	----------------------------------- */
	&:active {
		border-color: color('brand-1', darker);

		background: color('brand-1', darker);
		box-shadow: 0 .1rem .2rem 0 rgba(color('black'),.24);

		color: color('neutrals-3');
	}
}
