.grid__item {
	list-style-type: none;

	@include bp('sm') {
		grid-column: span 2;
	}
	@include bp('xl') {
		grid-column: span 3;
	}
	@include bp('xxl') {
		grid-column: span 6;
	}
	// listing sequence
	@include bp('lg') {
		&.grid__item--1:nth-child(1) {
			grid-column: span 2;
		}
		&.grid__item--2:nth-child(2) {
			grid-column: span 4;
		}

		&.grid__item--1,
		&.grid__item--2,
		&.grid__item--3,
		&.grid__item--4,
		&.grid__item--5 {
			grid-column: span 3;
		}
	}
	@include bp('xl') {
		&.grid__item--1:nth-child(1) {
			grid-column: span 2;
		}
		&.grid__item--2:nth-child(2) {
			grid-column: span 4;
		}
	}
	@include bp('xxl') {
		&.grid__item--1:nth-child(1) {
			grid-column: span 4;
		}
		&.grid__item--2:nth-child(2) {
			grid-column: span 8;
		}

		&.grid__item--3,
		&.grid__item--4,
		&.grid__item--5 {
			grid-column: span 4;
		}

		&.grid__item--1,
		&.grid__item--2 {
			grid-column: span 6;
		}
	}

	// js anination classes
	html:not(.no-js) & {
		@include transition(all .9s ease);
		@include scale(0);

		transform-origin: top center;

		opacity: 0;
		&.js_scrolled-in-view {
			@include scale(1);

			opacity: 1;
		}
	}
}

.grid__item--header {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: $gutter;

	background: color('white');

	@include bp('xl') {
		padding: $gutter*2.5;
	}

	p {
		text-align: justify;
	}
}
