/* ==========================================================================
Text editor styles - Long body copy styles
========================================================================== */

.rich-text {
	display: block;
	width: 100%;

	& > :last-child {
		margin-bottom: 0;
	}

	/* Headings
	========================================================================== */

	h1:not([class*='heading--']) {
		@extend .heading--1 !optional;
		@extend .title !optional;
	}

	h2:not([class*='heading--']) {
		@extend .heading--2 !optional;
		@extend .title !optional;
	}

	h3:not([class*='heading--']) {
		@extend .heading--3 !optional;
		@extend .title !optional;
	}

	h4:not([class*='heading--']) {
		@extend .heading--4 !optional;
		@extend .title !optional;
	}

	h5:not([class*='heading--']) {
		@extend .heading--5 !optional;
		@extend .title !optional;
	}

	h6:not([class*='heading--']) {
		@extend .heading--6 !optional;
		@extend .title !optional;
	}

	/* Paragraph
	========================================================================== */

	p {
		@extend %default-margin;
		/* Defaults */

		padding: 0;
	}

	/* Images
	========================================================================== */
	img {
		width: 100%;
		max-width: 100%;
	}
	img[width] {
		width: auto;
		max-width: 100%;
		height: auto;
	}

	/* Listings
	========================================================================== */

	/* Unordered Listing items */
	ul {
		@extend .listing__ul !optional;

		li {
			@extend .listing__ul-item !optional;
		}
	}

	/* Ordered Listing items */
	ol {
		@extend .listing__ol !optional;

		li {
			@extend .listing__ol-item !optional;
		}
	}

	/* Special listing */
	ul.listing__special {
		li {
			@extend .listing__special-item !optional;
		}
	}

	/* Links
	========================================================================== */
	a:not([class*='button']) {
		@extend .link !optional;
	}

	/* Blockquote
	========================================================================== */

	blockquote {
		@extend .blockquote !optional;
		@extend %default-margin;
	}

	/* Other html tags
	s========================================================================== */

	strong,
	b {
		font-weight: font-weight('semi-bold');
	}

	em {
		/* Defaults */
		font-style: italic;
		font-weight: font-weight('light');
	}

	small {
		@extend .meta !optional;
	}
}
