.project__logo {
	flex: 1 0 50%;
	align-self: flex-start;
	max-width: 50%;
	margin-right: auto;
	padding: 1rem 0 2rem;

	@include bp('lg') {
		.grid__item:nth-child(2) & {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}
	@include bp('xl') {
		padding-bottom: 2rem;
	}
	@include bp('xxl') {
		.grid__item:nth-child(2) & {
			flex: 1 0 100%;
			max-width: 100%;
		}
		.grid__item--1 &,
		.grid__item--2 & {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}

	img {
		width: 100%;
		max-width: 15rem;
		height: 100%;
		max-height: 15rem;
	}
}

.project__summary {
	flex: 1 0 100%;
	max-width: 100%;

	.project__title {
		color: rgba(64, 64, 64, 1);

		svg {
			transform: rotate(-45deg);

			fill: color('neutrals-6');
		}
	}

	.project__sub-title {
		margin-bottom: 1rem;

		color: rgba(64, 64, 64, 1);
	}

	.project__description {
		color: rgba(153, 153, 153, 1);
		text-align: justify;
	}
}

.project__tags {
	@include bp('lg') {
		.grid__item:nth-child(2) & {
			grid-column: span 2;
		}
		.grid__item--1 &,
		.grid__item--2 & {
			grid-column: span 2;
		}
	}
	@include bp('xl') {
		.grid__item--1 &,
		.grid__item--2 & {
			grid-column: span 1;
		}
	}
	@include bp('xxl') {
		.grid__item:nth-child(2) & {
			grid-column: span 2;
		}
		.grid__item--1 &,
		.grid__item--2 & {
			grid-column: span 2;
		}
	}
}
