/* ================================
Forms
=================================== */

form {
	/* ================================
	Fieldset
	=================================== */
	fieldset {
		position: relative;
		margin: 0;
		padding: 2.4rem 0 2.5rem 0;

		border: 0;
		outline: 0;
	}



	/* ================================
	Labels
	=================================== */
	label {
		display: inline-block;
		padding-top: .8rem;
		padding-bottom: .8rem;

		color: color('neutrals-7');
		font-size: font-size('body');
		line-height: line-height('body');

		@include bp('md') {
			font-size: font-size('body','tablet');
			line-height: line-height('body','tablet');
		}
		@include bp('lg') {
			font-size: font-size('body','desktop');
			line-height: line-height('body','desktop');
		}
	}

	/** label checkbox
	----------------------------------- */
	// .form__field--checkbox label {
	// 	display: inline-block;
	// }

	/** label - Required field
		----------------------------------- */
	.field--required label:after {
		content: '*';

		display: inline-block;
		margin-left: .4rem;

		color: color('error');
	}

	/** label - error
		----------------------------------- */
	.field--error label {
		color: color('error');
	}

	/** label floating
	----------------------------------- */
	.js-form__field--floating-label label {
		@include transition(transform .1s ease-in-out);

		position: absolute;
		top: 2.4rem;
		left: 0;
	}

	// active & completed states
	.js-form__field--floating-label.is-active label,
	.js-form__field--floating-label.is-completed label {
		@extend .meta !optional;
		@include translate(0, -2.4rem);
	}

	// no-js fallback
	.no-js & .js-form__field--floating-label label {
		@extend .meta !optional;

		position: static;
		top: auto;
		left: auto;
		padding-bottom: 0;
	}



	/* ================================
	Inputs
	=================================== */
	input {
		display: block;
		width: 100%;
		margin: 0;
		padding: .8rem 0;

		border: 0;
		border-bottom: .1rem solid color('text');
		outline: 0;

		font-size: font-size('body');
		line-height: line-height('body');

		@include bp('md') {
			font-size: font-size('body','tablet');
			line-height: line-height('body','tablet');
		}
		@include bp('lg') {
			font-size: font-size('body','desktop');
			line-height: line-height('body','desktop');
		}
	}

	/** Input Honeypot
	----------------------------------- */
	.form-honeybear {
		visibility: hidden;
		position: absolute !important;
		width: 1px;
		height: 1px;
		overflow: hidden;

		border: 0;

		box-shadow: none;

		clip: rect(1px,1px,1px,1px);
	}

	/** Input checkbox
	----------------------------------- */
	.form__field--checkbox {
		display: block;

		label {
			display: block;

			/* Fake checkbox button */
			& > span {
				display: inline-block;

				&:before {
					/* Defaults */
					content: '';

					display: inline-block;
					width: 2.2rem;
					height: 2.2rem;
					margin-top: -.325rem;
					margin-right: 1rem;

					border-radius: .4rem;

					line-height: 2.2rem;
					vertical-align: middle;
				}
			}

			& > input {
				@include invisible();

				/* Fake checkbox click behavior */
				& ~ span:before {
					border: .1rem solid color('neutrals-5');

					background: transparent;
					/* Defaults */

					color: transparent;
				}

				&:checked ~ span:before {
					border: .1rem solid color('brand-1');

					background: color('brand-1');
					background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2216px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2016%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2047.1%20%2845422%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3EPath%2022%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Styleguide%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22square%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-1319.000000%2C%20-2613.000000%29%22%20id%3D%22Path-22%22%20stroke-width%3D%222.09999996%22%20stroke%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolyline%20points%3D%221321%202620.5%201324.71901%202626%201333%202615%22%3E%3C/polyline%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') !important;
					background-position: center center !important;
					/* Defaults */
					background-repeat: no-repeat !important;
					background-size: 1.5rem !important;
				}
			}
		}
	}

	/** Input radio
	----------------------------------- */
	.form__field--radio {
		display: block;

		label {
			display: block;

			/* Fake checkbox button */
			& > span {
				display: inline-block;

				&:before {
					/* Defaults */
					content: '';

					display: inline-block;
					width: 2.2rem;
					height: 2.2rem;
					margin-top: -.325rem;
					margin-right: 1rem;

					border-radius: 50%;

					line-height: 2.2rem;
					vertical-align: middle;
				}
			}

			& > input {
				@include invisible();

				/* Fake radio click behavior */
				& ~ span:before {
					border: .1rem solid color('neutrals-5');

					background: transparent;
					/* Defaults */

					color: transparent;
				}

				&:checked ~ span:before {
					border: .5rem solid color('brand-1');

					background: color('white');
				}
			}
		}
	}

	/** Input - error
	----------------------------------- */
	.field--error input {
		border-color: color('error');
	}



	/* ================================
	Select
	=================================== */
	select {
		display: block;
		width: 100%;
		margin: 0;
		padding: .8rem 0;

		border: 0;
		border-bottom: .1rem solid color('text');
		border-radius: 0;
		outline: 0;

		background-color: color('white');
		/* Defaults */
		background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22%2300BDEE%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7.41%207.84L12%2012.42l4.59-4.58L18%209.25l-6%206-6-6z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0-.75h24v24H0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E') !important;
		background-position: right center !important;
		background-repeat: no-repeat !important;
		background-size: 3rem !important;
		box-shadow: none;

		font-size: font-size('body');
		line-height: line-height('body');

		appearance: none;

		@include bp('md') {
			font-size: font-size('body','tablet');
			line-height: line-height('body','tablet');
		}
		@include bp('lg') {
			font-size: font-size('body','desktop');
			line-height: line-height('body','desktop');
		}
	}

	// ie11 - remove default dropdown indicator
	select::-ms-expand {
		display: none;
	}

	/** Select label
	----------------------------------- */
	.form__field--select label {
		@extend .meta !optional;

		padding-bottom: 0;
	}



	/* ================================
	Submit
	=================================== */
	input[type='submit'] {
		@extend .button !optional;

		display: inline-block;
		width: auto;
		padding: .8rem 0;

		border: 0;
		border-radius: 1rem;

		font-size: font-size('body');
		line-height: line-height('body');

		@include bp('md') {
			font-size: font-size('body','tablet');
			line-height: line-height('body','tablet');
		}
		@include bp('lg') {
			font-size: font-size('body','desktop');
			line-height: line-height('body','desktop');
		}
	}

	button[type='submit'] {
		@extend .button !optional;

		display: inline-block;
		width: auto;
		padding: 0;
		padding: .8rem 0;

		border: 0;
		border-radius: 0;
		border-radius: 1rem;

		box-shadow: none;

		font-size: font-size('body');
		line-height: line-height('body');

		appearance: none;

		@include bp('md') {
			font-size: font-size('body','tablet');
			line-height: line-height('body','tablet');
		}
		@include bp('lg') {
			font-size: font-size('body','desktop');
			line-height: line-height('body','desktop');
		}

		// @include icon('arrow-right', after) {
		// 	margin-left: 2rem;
		// };
	}



	/* ================================
	Textarea
	=================================== */
	textarea {
		display: block;
		width: 100%;
		min-height: 10rem;
		margin: 0;
		padding: .8rem 0;

		border: 0;
		border-bottom: .1rem solid color('text');
		border-radius: 0;
		outline: 0;
		// background: color('neutrals-1');

		font-size: font-size('body');
		line-height: line-height('body');

		@include bp('md') {
			font-size: font-size('body','tablet');
			line-height: line-height('body','tablet');
		}
		@include bp('lg') {
			font-size: font-size('body','desktop');
			line-height: line-height('body','desktop');
		}
	}

	/** Textarea floating animation
	----------------------------------- */
	.js-form__field--floating-label {
		textarea {
			@include transition(all .4s ease);

			min-height: 2.7rem;

			background: transparent;
		}

		// &.is-active {
		// 	textarea {
		// 		background: color('neutrals-1');
		// 	}
		// }

		&.is-active,
		&.is-completed {
			textarea {
				min-height: 10rem;
			}
		}
	}



	/* ================================
	Helper text
	=================================== */
	.field__helper-text {
		@extend .meta !optional;

		display: block;
		padding-top: .8rem;

		color: color('neutrals-5');

		@at-root form .field--error .field__helper-text {
			color: color('error');
		}
	}

	/** Checkbox- & radio-fields exeption
	----------------------------------- */
	.form__field--checkbox .field__helper-text,
	.form__field--radio .field__helper-text {
		padding-top: 0;
	}


	/* ================================
	Error text
	=================================== */
	.field__error-message {
		@extend .meta !optional;

		display: block;
		padding-top: .8rem;

		color: color('error');
	}
}
