#contact__form__message {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 1rem;

	background: rgba(232, 113, 91, .9);

	color: #FFF;
	text-align: center;

	animation-name: slideInDownSlideOutUp;
	animation-duration: 4s;
	animation-fill-mode: both;
}

@keyframes slideInDownSlideOutUp {
	0% {
		visibility: visible;
		transform: translate3d(0, -100%, 0);
	}

	33% {
		transform: translate3d(0, 0, 0);
	}

	66% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}
