.device-rotation {
	display: none;
	z-index: $zindex-rotation;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;

	background: color('brand-1');

	@media screen and (orientation: landscape) and (max-height: 40em) {
		display: flex;
	}

	&__content {
		color: white;
		text-align: center;

		img {
			display: block;
			width: 100%;
			max-width: 17rem;
			margin: auto;
		}
	}
}
