/*
* Utilities - mixins
*/

/* ==========================================================================
Extendfull
========================================================================== */

@mixin extendfull($direction: false) {
	@if not($direction) {
		@include bp(sm, max) {
			margin-right: -30.0rem !important;
			margin-left: -30.0rem !important;
			padding-right: 30.0rem !important;
			padding-left: 30.0rem !important;
		}
		@include bp(md) {
			margin-right: -300.0rem !important;
			margin-left: -300.0rem !important;
			padding-right: 300.0rem !important;
			padding-left: 300.0rem !important;
		}
	}
	@else if $direction == left {
		@include bp(sm, max) {
			margin-right: -30.0rem !important;
			margin-left: -30.0rem !important;
			padding-right: 30.0rem !important;
			padding-left: 30.0rem !important;
		}
		@include bp(md) {
			margin-right: 0;
			margin-left: -300.0rem !important;
			padding-right: 0;
			padding-left: 300.0rem !important;
		}
	}
	@else if $direction == right {
		@include bp(sm, max) {
			margin-right: -30.0rem !important;
			margin-left: -30.0rem !important;
			padding-right: 30.0rem !important;
			padding-left: 30.0rem !important;
		}
		@include bp(md) {
			margin-right: -300.0rem !important;
			margin-left: 0;
			padding-right: 300.0rem !important;
			padding-left: 0;
		}
	}
}

/* ==========================================================================
Hide / show element on breakpoint
========================================================================== */

@mixin hide-until($breakpoint) {
	@include bp($breakpoint, max) {
		display: none;
	}
}
@mixin hide-from($breakpoint) {
	@include bp($breakpoint, min) {
		display: none;
	}
}


/* ==========================================================================
Appearance
========================================================================== */

@mixin appearance($style) {
	-webkit-appearance: $style;
	-moz-appearance: $style;
	appearance: $style;
}

/* ==========================================================================
Center transform
========================================================================== */

@mixin center-transform (
		$axis: false // or x or y
	) {
	$translate-val: null;

	position: absolute;
	transform: $translate-val;

	-webkit-transform: $translate-val;
	-ms-transform: $translate-val;

	@if $axis != x {
		top: 50%;
		margin-top: auto;
		margin-bottom: auto;
	}

	@if $axis != y {
		left: 50%;
		margin-right: auto;
		margin-left: auto;
	}

	@if not($axis) {
		$translate-val: translate(-50%, -50%);
	}
	@else if $axis != x {
		$translate-val: translateY(-50%);
	}
	@else if $axis != y {
		$translate-val: translateX(-50%);
	}
}

/* ==========================================================================
Ellipsis
========================================================================== */

@mixin ellipsis($width: 100%, $display: inline-block) {
	display: $display;
	max-width: $width;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;

	word-wrap: normal;
}

/* ==========================================================================
Word break with hyphens
========================================================================== */

@mixin word-break() {
	hyphens: auto;
	word-break: break-all;
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-word-break: break-all;
}

/* ==========================================================================
Fill up
========================================================================== */

@mixin fill-up ($width-height: false) {
	position: absolute;
	top: 0;
	left: 0;
	@if $width-height {
		width: 100%;
		height: 100%;
	}
	@else {
		right: 0;
		bottom: 0;
	}
}

/* ==========================================================================
Hide Text
========================================================================== */

/* Hides the text in an element, commonly used to show an image instead.
	 * Some elements will need block-level styles applied.
	 */

@mixin hide-text {
	overflow: hidden;

	text-indent: 101%;
	white-space: nowrap;
}

/* ==========================================================================
Invisible on/of
========================================================================== */

@mixin invisible($toggle: on) {
	@if $toggle == 'on' {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;

		border: 0;

		clip-path: circle(1% at 1% 1%);

		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	} @else if $toggle == 'off' {
		position: static;
		width: auto;
		height: auto;
		overflow: visible;

		clip-path: none;

		clip: auto;
	}
}

/* ==========================================================================
No select
========================================================================== */

@mixin no-select {
	user-select: none;

	-khtml-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* ==========================================================================
Transitions / Transforms
========================================================================== */

/* @include transition(color .3s ease); */
@mixin transition($args...) {
	transition: $args;

	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
}

@mixin transform($transforms) {
	transform: $transforms;

	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
}

@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin skew($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin ($origin) {
	transform-origin: $origin;

	moz-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-o-transform-origin: $origin;
}

/* ==========================================================================
Animation - settings
========================================================================== */

/*
.box {
	@include animation(move 0.5s ease infinite alternate);
}
*/

@mixin animation($value) {
	animation: $value;

	-webkit-animation: $value;
	-moz-animation: $value;
	-ms-animation: $value;
	-o-animation: $value;
}

/* ==========================================================================
Animation - Keyframe
========================================================================== */

/*
@include keyframes(move) {
	0%   { left: 0; }
	100% { left: 100px; }
}

or

@include keyframes(move) {
	from { left: 0; }
	to   { left: 100px; }
}
*/

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content
	}
	@-moz-keyframes #{$name} {
		@content
	}
	@-ms-keyframes #{$name} {
		@content
	}
	@-o-keyframes #{$name} {
		@content
	}
	@keyframes #{$name} {
		@content
	}
}
