/*
* Container
*/

/* ==========================================================================
Default container
========================================================================== */

.container {
	display: block;
	width: 100%;
	max-width: $default-max-site-width;
	margin: 0 auto;
	padding: 0 $gutter * 2;
}

/* ==========================================================================
Container variants
========================================================================== */

@each $container-size-name, $container-size-value in $container-sizes {
	.container--#{$container-size-name} {
		@extend .container;

		max-width: $container-size-value;
	}
}
