/* ==========================================================================
JS breakpoint indicator
========================================================================== */

/**
*
* Get the content if you need to know the current breakpoint in JS.
*
*/

body:before {
	content: '--';

	position: absolute;
	left: -99999rem;

	@include bp(xs) {
		content: 'xs';
	}
	@include bp(sm) {
		content: 'sm';
	}
	@include bp(md) {
		content: 'md';
	}
	@include bp(lg) {
		content: 'lg';
	}
	@include bp(xl) {
		content: 'xl';
	}
	@include bp(xxl) {
		content: 'xxl';
	}
}

/* ==========================================================================
Development - show breakpoint & grid columns
========================================================================== */

/**
* Development tool
*
* Set a body 'development' class to show:
*   - Breakpoint indicator
*/

body.development {
	min-height: 100vh;

	/* Breakpoint indicator
	==================== */
	&:after {
		content: '--';

		z-index: 9999999997;
		position: fixed;
		right: 1rem;
		bottom: 1rem;
		width: 4.3rem;
		padding: 1rem;

		border-radius: .4rem;

		background-color: rgba(#000, .8);

		color: #FFF;
		font-family: sans-serif;
		font-size: 1.2rem;
		text-align: center;

		@include bp(xs) {
			content: 'xs';
		}
		@include bp(sm) {
			content: 'sm';
		}
		@include bp(md) {
			content: 'md';
		}
		@include bp(lg) {
			content: 'lg';
		}
		@include bp(xl) {
			content: 'xl';
		}
		@include bp(xxl) {
			content: 'xxl';
		}
	}
}
