/*
* Layout - general
*/

:root {
    --gap: #{$gap};
    --gap2: #{$gap * 2};
    --boxwidth: calc(100vw - var(--gap2));
    --boxheight: calc(100vh - var(--gap2));
}

/* ==========================================================================
Box sizing
========================================================================== */
html {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ==========================================================================
Html & body
========================================================================== */
html,
body {
	overflow-x: hidden;
}

body {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;

	scroll-behavior: smooth;
}

/* ==========================================================================
Clearfix
========================================================================== */

.clearfix {
	@include clearfix();
}
