/*--------------------------------------------
- Hidden grid items
---------------------------------------------*/
.grid__item__navbar,
.grid__item__link,
.selected-closer,
.focus-page {
	display: none;
}


/*--------------------------------------------
- CSS All supported
---------------------------------------------*/
@include bp('lg') {
	/* Wrapper
    ---------------------------------------------*/
	.wrapper {
		position: fixed;
		top: $gap;
		left: $gap;
		width: calc(100vw - #{$gap * 2});
		height: calc(100vh - #{$gap * 2});
		transform-origin: 62% 50%;

		transition: transform .4s ease-in-out;

		.js-menu--isOpen & {
			z-index: 1;
			transform: scale(.5);
		}
	}

	/* GRid
    ---------------------------------------------*/
	.grid {
		display: flex;
		position: absolute;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
		width: 300vw;

		&__item {
			position: relative;
			flex: 0 0 94vw;
			flex: 0 0 calc(100vw - #{$gap * 2});
			width: calc(100vw - #{$gap * 2});
			height: calc(100vh - #{$gap * 2});
			margin: 0 #{$gap / 4} #{$gap / 4} 0;

			transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;

			&:not(.js-grid__item--active):hover {
				z-index: 100;
				transform: scale(1.01);
			}

			// focus page
			.focus-page {
				display: block;
				z-index: 100;
				position: absolute;
				top: 0;
				left: 0;
				width: calc(100vw - #{$gap * 2});
				height: calc(100vh - #{$gap * 2});

				cursor: pointer;
				opacity: 0;

				-webkit-app-region: no-drag;
				-webkit-user-drag: none;
				-webkit-user-select: none;
			}
			&.js-grid__item--active .focus-page {
				display: none;
			}

			// selected closer
			.selected-closer {
				z-index: 100;
				position: absolute;
				top: 0;
				left: 0;
				width: calc(100vw - #{$gap * 2});
				height: calc(100vh - #{$gap * 2});

				cursor: zoom-in;
			}
			.js-menu--isOpen &.js-grid__item--active .selected-closer {
				display: block;
			}
		}

		/* Menu
        ---------------------------------------------*/
		&__item__navbar {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 3.2rem;

			color: black;

			opacity: 0;
			transition: opacity .6s ease-in-out;

			@supports (mix-blend-mode: difference) {
				color: white;

				mix-blend-mode: difference;
			}

			.grid__item__menu {
				font-size: 3.2rem;

				cursor: pointer;

				-webkit-app-region: no-drag;
				-webkit-user-drag: none;
			}
		}
		.js-grid__item--active &__item__navbar {
			opacity: 1;
		}
		.js-menu--isOpen &__item__navbar {
			opacity: 0;
			transition: opacity .4s ease-in-out;
		}

		/* Next page links
        ---------------------------------------------*/
		&__item__link {
			display: inline-block;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 3.2rem;

			opacity: 0;
			transition: opacity .6s ease-in-out;

			a,
			img {
				-webkit-app-region: no-drag;
				-webkit-user-drag: none;
			}
		}
		.js-grid__item--active &__item__link {
			opacity: 1;
		}
		.js-menu--isOpen &__item__link {
			opacity: 0;
			transition: opacity .4s ease-in-out;
		}
	}
}

/*--------------------------------------------
- CSS Grid supported
---------------------------------------------*/
@supports (display: grid) and (not (display: -ms-grid)) {
	@include bp('lg') {
		.wrapper {
			width: calc(100vw - var(--gap2));
			height: calc(100vh - var(--gap2));
		}

		.grid {
			display: grid;
			grid-template: repeat(4, var(--boxheight)) var(--gap) / repeat(3, var(--boxwidth));

			grid-gap: $grid-gap;

			&__item {
				width: var(--boxwidth);
				height: var(--boxheight);
				margin: 0;

				& .focus-page {
					width: var(--boxwidth);
					height: var(--boxheight);
				}

				& .selected-closer {
					width: calc(100vw - var(--gap2));
					height: calc(100vh - var(--gap2));
				}
			}
		}
	}
}
