/**
*
* SYMBOLS
*
*/

.theSprite {
	display: block;
	position: absolute;
	left: -99999rem;
}

.symbol {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.symbol {
	g,
	group {
		fill: currentColor;
	}
}
