// main grid
.grid {
	display: grid;
	align-items: stretch;
	padding: $gutter;

	grid-gap: $gutter;

	@include bp('sm') {
		grid-template-columns: repeat(2, 1fr);
	}
	@include bp('md') {
		grid-template-columns: repeat(4, 1fr);
	}
	@include bp('lg') {
		grid-template-columns: repeat(6, 1fr);
		max-width: 90%;
		margin: auto;
	}
	@include bp('xl') {
		max-width: 85%;

		grid-gap: $gutter*1.5;
	}
	@include bp('xxl') {
		grid-template-columns: repeat(12, 1fr);

		grid-gap: $gutter*2;
	}

	// ie11
	@media all and (-ms-high-contrast:none) {
		display: -ms-flexbox;
		flex-direction: column;
	}
	// edge
	@supports (-ms-ime-align:auto) and (not (position:sticky)) {
		display: flex;
		flex-direction: column;
	}
}

// grid contact form
.grid--contact {
	display: grid;
	align-items: stretch;
	margin: auto;
	padding: $gutter;

	grid-gap: $gutter;

	@include bp('sm') {
		grid-template-columns: 1fr;
		max-width: 80%;
	}
	@include bp('md') {
		grid-template-columns: repeat(2, 1fr);
		max-width: 90%;
		padding: $gutter*2;

		grid-column-gap: $gutter*2;
	}
	@include bp('xl') {
		max-width: 85%;
		padding: $gutter*3;

		grid-column-gap: $gutter*3;
	}
	@include bp('xxl') {
		max-width: 65%;
		padding: $gutter*5 $gutter*2;

		grid-column-gap: $gutter*4;
	}

	// ie11
	@media all and (-ms-high-contrast:none) {
		display: -ms-flexbox;
		flex-direction: column;
	}
	// edge
	@supports (-ms-ime-align:auto) and (not (position:sticky)) {
		display: flex;
		flex-direction: column;
	}

	.contact__text {
		color: #999;
	}

	p,
	.disclaimer {
		text-align: justify;
	}

	.disclaimer {
		display: block;
		margin-top: 2rem;

		color: #999;
		font-size: 65%;
		line-height: 14px;
	}
}
