/**
* Layout variables
*
* html font-size set to 62.5% -> 1rem = 10px
*/

/* ==========================================================================
1. Breakpoints
========================================================================== */

/**
* Fix for incorrect breakpoint event in some browsers when using 'em'
*
* 'em' units for breakpoints makes sure the webdesign doesn't break when
* the user zooms in and out.
*/

@function emCorrection($value: false) {
	@return $value - (($value / 100) * 37.5) * 1em;
}

$breakpoints: (
		'xs' :  	emCorrection(1),
		'sm' :  	emCorrection(48),
		'md' :  	emCorrection(76.8),
		'lg' :  	emCorrection(94),
		'xl' : 		emCorrection(128),
		'xxl': 		emCorrection(144)
	);

/* Used for grid columns - as breakpoint indictors */
$breakpoint-prefixes: ('xs', 'sm', 'md', 'lg', 'xl', 'xxl');

/* ==========================================================================
2. Grid
========================================================================== */

$columns: 12;
$gutter: 2rem;

/* ==========================================================================
3. Container
========================================================================== */

$default-max-site-width: 98rem;

/* container max-width variations */
$container-sizes: (
		'default': $default-max-site-width
	);

/* ==========================================================================
Spacing - Atoms & molecules
========================================================================== */

$spacings-light: (
		'auto'     :    auto,
		'none'     :	0rem,
		'xxsmall'  :  .5rem,
		'xsmall'   :  1.0rem,
		'small'    :  1.5rem,
		'medium'   :  2.0rem,
		'large'    :  2.5rem,
		'xlarge'   :  3.0rem,
		'xxlarge'  :  3.5rem,
		'xxxlarge' :  4.0rem
	);

/* ==========================================================================
Spacing - organisms & templates
========================================================================== */

$spacings-heavy: (
		'auto'     :    auto,
		'none'     :	0rem,
		'onefold'  :  2.5rem,
		'twofold'  :  5.0rem,
		'threefold':  7.5rem,
		'fourfold' : 10.0rem,
		'fivefold' : 12.5rem,
		'sixfold'  : 15.0rem,
		'sevenfold': 17.5rem,
		'eightfold': 20.0rem
	);
