/*
* Layout functions
*/

/* ==========================================================================
1. Container max-width sizes
========================================================================== */

@function container($size: 'default') {
	@return map-get($container-sizes, $size);
}

/* ==========================================================================
2. Spacings
========================================================================== */

@function spacing($size: 'none') {
	@return map-get($spacings-light, $size);
}

@function spacing-large($size: 'none') {
	@return map-get($spacings-heavy, $size);
}

/* ==========================================================================
3.breakpoint
========================================================================== */

@function breakpoint($size) {
	@return map-get($breakpoints, $size);
}
