/*
* Layout mixins
*/

/* ==========================================================================
1. breakpoint
========================================================================== */

@mixin bp($size, $limiter: min) {
	// $size:    xs, sm, md, lg, xl -or- number value
	// $limiter:  min (default), max, only

	@if type-of($size) != 'string' {
		$size: emCorrection($size);
		$what: 'min-width';

		@if $limiter == max {
			$what: 'max-width';
		}

		@if $what == 'max-width' and $offset {
			$size: $size - .01;
		}

		@media only screen and (#{$what}: $size) {
			@content;
		}
	}
	@else {
		@if $limiter == min {
			@if $size == xs {
				@media only screen and (min-width: breakpoint('xs')) {
					@content;
				}
			}
			@else if $size == sm {
				@media only screen and (min-width: breakpoint('sm')) {
					@content;
				}
			}
			@else if $size == md {
				@media only screen and (min-width: breakpoint('md')) {
					@content;
				}
			}
			@else if $size == lg {
				@media only screen and (min-width: breakpoint('lg')) {
					@content;
				}
			}
			@else if $size == xl {
				@media only screen and (min-width: breakpoint('xl')) {
					@content;
				}
			}
			@else if $size == xxl {
				@media only screen and (min-width: breakpoint('xxl')) {
					@content;
				}
			}
		}

		@if $limiter == max {
			@if $size == xs {
				@media only screen and (max-width: breakpoint('sm') - .01) {
					@content;
				}
			}
			@else if $size == sm {
				@media only screen and (max-width: breakpoint('md') - .01) {
					@content;
				}
			}
			@else if $size == md {
				@media only screen and (max-width: breakpoint('lg') - .01) {
					@content;
				}
			}
			@else if $size == lg {
				@media only screen and (max-width: breakpoint('xl') - .01) {
					@content;
				}
			}
			@else if $size == xl {
				@media only screen and (max-width: breakpoint('xxl') - .01) {
					@content;
				}
			}
			@else if $size == xxl {
				@content;
			}
		}

		@if $limiter == only {
			@if $size == xs {
				@media only screen and (min-width: breakpoint('xs')) and (max-width: breakpoint('sm') - .01) {
					@content;
				}
			}
			@else if $size == sm {
				@media only screen and (min-width: breakpoint('sm')) and (max-width: breakpoint('md') - .01) {
					@content;
				}
			}
			@else if $size == md {
				@media only screen and (min-width: breakpoint('md')) and (max-width: breakpoint('lg') - .01) {
					@content;
				}
			}
			@else if $size == lg {
				@media only screen and (min-width: breakpoint('lg')) and (max-width: breakpoint('xl') - .01) {
					@content;
				}
			}
			@else if $size == xl {
				@media only screen and (min-width: breakpoint('xl')) and (max-width: breakpoint('xxl') - .01) {
					@content;
				}
			}
			@else if $size == xxl {
				@media only screen and (min-width: breakpoint('xxl')) {
					@content;
				}
			}
			@else {
				@content;
			}
		}
	}
}

/* ================================
Make row
=================================== */

@mixin make-row(
        $gutterSize: false // or none
    ) {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	@if not($gutterSize) {
		margin: 0 #{-$gutter / 2};
	}
	@else if $gutterSize == none {
		margin: 0;
	}
}

/* ================================
Make col
=================================== */

@mixin make-col(
        $gutterStyle: false // or none or full
    ) {
	position: relative;
	flex: 1 0 0;
	max-width: 100%;

	@if not($gutterStyle) {
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}
	@else if $gutterStyle == none {
		padding: 0;
	}
	@else if $gutterStyle == full {
		padding: $gutter / 2;
	}
}

/* ================================
Make cols
=================================== */

@mixin make-cols(
        $colAmount: $columns, // or number
        $gutterStyle: false // or none or full
    ) {
	position: relative;
	flex: 0 0 100% / $columns * $colAmount;
	max-width: #{100% / $columns * $colAmount};

	@if not($gutterStyle) {
		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}
	@else if $gutterStyle == none {
		padding: 0;
	}
	@else if $gutterStyle == full {
		padding: $gutter / 2;
	}
}

/* ================================
Cols offset / push / pull
=================================== */

@mixin cols-offset(
        $offsetAmount: 0 // or number
    ) {
	margin-left: 100% / $columns * $offsetAmount;
}

@mixin cols-push(
        $pushAmount: 0 // or number
    ) {
	$push-value: 100% / $columns * $pushAmount;

	right: auto;
	left: $push-value;
	@if ( $push-value == 0 ) {
		$push-value: auto;
	}
}

@mixin cols-pull(
        $pullAmount: 0 // or number
    ) {
	$pull-value: 100% / $columns * $pullAmount;

	right: $pull-value;
	left: auto;
	@if ( $pull-value == 0 ) {
		$pull-value: auto;
	}
}

/* ==========================================================================
Clearfix
========================================================================== */

@mixin clearfix() {
	&::after {
		content: '';

		display: block;
		clear: both;
	}
}
