.project {
	display: flex;
	grid-template-columns: 1fr;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	padding: $gutter;

	border-radius: .6rem;

	background: color('white');
	box-shadow: 0 0 0 .1rem rgba(183,183,183,.2);

	@include bp('lg') {
		.grid__item--2:nth-child(2) & {
			display: grid;

			grid-column-gap: $gutter;
		}
	}
	@include bp('xl') {
		padding: $gutter*2;
	}
	@include bp('xxl') {
		.grid__item:nth-child(2) & {
			display: grid;
		}
		.grid__item--1 &,
		.grid__item--2 & {
			display: grid;
		}
	}
}
// with link
a.project {
	@include transition(transform ease .3s);

	&:hover,
	&:focus {
		@include scale(.99);
	}

	&:active {
		@include scale(.97);
	}
}
