/* Home page
---------------------------------------------*/
.home {
	max-width: 70rem;
	margin: auto;
	padding: 5rem;
	text-align: center;

	&__title {
		font-size: 2rem;

		&--loading {
			animation: fadeIn 1s linear alternate;
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
