/*
* Container
*/

/* ==========================================================================
Default container
========================================================================== */

.container {
	display: block;
	width: 100%;
	max-width: $default-max-site-width;
	margin: 0 auto;
	padding: 0 $gutter * 2;
}
