/* ==========================================================================
JS breakpoint indicator
========================================================================== */

/**
*
* Get the content if you need to know the current breakpoint in JS.
*
*/

body:before {
	content: '--';

	@include bp(xs) {
		content: 'xs';
	}
	@include bp(sm) {
		content: 'sm';
	}
	@include bp(md) {
		content: 'md';
	}
	@include bp(lg) {
		content: 'lg';
	}
	@include bp(xl) {
		content: 'xl';
	}
	@include bp(xxl) {
		content: 'xxl';
	}

	position: absolute;
	left: -99999rem;
}
