/* =================================
COL - gutter styles
==================================== */

.cols {
	position: relative;
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: $gutter / 2;
	padding-left: $gutter / 2;
}
