/*
* Layout - general
*/

/* ==========================================================================
Box sizing
========================================================================== */

html {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ==========================================================================
Html & body
========================================================================== */

html,
body {
	overflow-x: hidden;
}

body {
	display: block;
	width: 100%;
	max-width: 168rem;
	margin: 0 auto;
	margin: auto;
	padding: 0;
}
