/*
* Spacings
*/

/* ==========================================================================
1. Spacing at breakpoints
========================================================================== */

@for $bp from 1 through length($breakpoint-prefixes) {
	$the-breakpoint: nth($breakpoint-prefixes, $bp);

	@include bp($the-breakpoint) {
		/* 1.1 Spacings Subtle
		========================================================================== */
		@each $spacing-name, $spacing-value in $spacings-light {
			/* 1.1.1 Padding
			=================================== */

			/* Padding all around */
			.padding-#{$spacing-name}-#{$the-breakpoint} {
				padding: $spacing-value !important;
			}

			/* Padding top - bottom */
			.padding-#{$spacing-name}-vertical-#{$the-breakpoint} {
				padding-top: $spacing-value !important;
				padding-bottom: $spacing-value !important;
			}
			.padding-#{$spacing-name}-top-#{$the-breakpoint} {
				padding-top: $spacing-value !important;
			}
			.padding-#{$spacing-name}-bottom-#{$the-breakpoint} {
				padding-bottom: $spacing-value !important;
			}

			/* Padding left - right */
			.padding-#{$spacing-name}-horizontal-#{$the-breakpoint} {
				padding-right: $spacing-value !important;
				padding-left: $spacing-value !important;
			}
			.padding-#{$spacing-name}-left-#{$the-breakpoint} {
				padding-left: $spacing-value !important;
			}
			.padding-#{$spacing-name}-right-#{$the-breakpoint} {
				padding-right: $spacing-value !important;
			}



			/* 1.1.2 Margin
			=================================== */

			/* margin all around */
			.margin-#{$spacing-name}-#{$the-breakpoint} {
				margin: $spacing-value !important;
			}

			/* margin top - bottom */
			.margin-#{$spacing-name}-vertical-#{$the-breakpoint} {
				margin-top: $spacing-value !important;
				margin-bottom: $spacing-value !important;
			}
			.margin-#{$spacing-name}-top-#{$the-breakpoint} {
				margin-top: $spacing-value !important;
			}
			.margin-#{$spacing-name}-bottom-#{$the-breakpoint} {
				margin-bottom: $spacing-value !important;
			}

			/* margin left - right */
			.margin-#{$spacing-name}-horizontal-#{$the-breakpoint} {
				margin-right: $spacing-value !important;
				margin-left: $spacing-value !important;
			}
			.margin-#{$spacing-name}-left-#{$the-breakpoint} {
				margin-left: $spacing-value !important;
			}
			.margin-#{$spacing-name}-right-#{$the-breakpoint} {
				margin-right: $spacing-value !important;
			}
		}



		/* 1.2 Spacings Large
		========================================================================== */
		@each $spacing-large-name, $spacing-large-value in $spacings-heavy {
			/* 1.2.1 Padding
			=================================== */

			/* Padding top - bottom */
			.padding-#{$spacing-large-name}-vertical-#{$the-breakpoint} {
				padding-top: $spacing-large-value !important;
				padding-bottom: $spacing-large-value !important;
			}
			.padding-#{$spacing-large-name}-top-#{$the-breakpoint} {
				padding-top: $spacing-large-value !important;
			}
			.padding-#{$spacing-large-name}-bottom-#{$the-breakpoint} {
				padding-bottom: $spacing-large-value !important;
			}



			/* 1.2.2 Margin
			=================================== */

			/* margin top - bottom */
			.margin-#{$spacing-large-name}-vertical-#{$the-breakpoint} {
				margin-top: $spacing-large-value !important;
				margin-bottom: $spacing-large-value !important;
			}
			.margin-#{$spacing-large-name}-top-#{$the-breakpoint} {
				margin-top: $spacing-large-value !important;
			}
			.margin-#{$spacing-large-name}-bottom-#{$the-breakpoint} {
				margin-bottom: $spacing-large-value !important;
			}
		}
	}
}


/* ==========================================================================
2.0 Spacing without breakpoint indicator
========================================================================== */

/* 2.1 Spacing Subtle
========================================================================== */
@each $spacing-name, $spacing-value in $spacings-light {
	/* 2.1.1 Padding
	=================================== */

	/* Padding all around */
	.padding-#{$spacing-name} {
		@extend .padding-#{$spacing-name}-xs;
	}

	/* Padding top - bottom */
	.padding-#{$spacing-name}-vertical {
		@extend .padding-#{$spacing-name}-vertical-xs;
	}
	.padding-#{$spacing-name}-top {
		@extend .padding-#{$spacing-name}-top-xs;
	}
	.padding-#{$spacing-name}-bottom {
		@extend .padding-#{$spacing-name}-bottom-xs;
	}

	/* Padding left - right */
	.padding-#{$spacing-name}-horizontal {
		@extend .padding-#{$spacing-name}-horizontal-xs;
	}
	.padding-#{$spacing-name}-left {
		@extend .padding-#{$spacing-name}-left-xs;
	}
	.padding-#{$spacing-name}-right {
		@extend .padding-#{$spacing-name}-right-xs;
	}



	/* 2.1.2 Margin
	=================================== */

	/* margin all around */
	.margin-#{$spacing-name} {
		@extend .margin-#{$spacing-name}-xs;
	}

	/* margin top - bottom */
	.margin-#{$spacing-name}-vertical {
		@extend .margin-#{$spacing-name}-vertical-xs;
	}
	.margin-#{$spacing-name}-top {
		@extend .margin-#{$spacing-name}-top-xs;
	}
	.margin-#{$spacing-name}-bottom {
		@extend .margin-#{$spacing-name}-bottom-xs;
	}

	/* margin left - right */
	.margin-#{$spacing-name}-horizontal {
		@extend .margin-#{$spacing-name}-horizontal-xs;
	}
	.margin-#{$spacing-name}-left {
		@extend .margin-#{$spacing-name}-left-xs;
	}
	.margin-#{$spacing-name}-right {
		@extend .margin-#{$spacing-name}-right-xs;
	}
}



/* 2.2 Spacing Heavy
========================================================================== */
@each $spacing-large-name, $spacing-large-value in $spacings-heavy {
	/* 2.2.1 Padding
	=================================== */

	/* Padding top - bottom */
	.padding-#{$spacing-large-name}-vertical {
		@extend .padding-#{$spacing-large-name}-vertical-xs;
	}
	.padding-#{$spacing-large-name}-top {
		@extend .padding-#{$spacing-large-name}-top-xs;
	}
	.padding-#{$spacing-large-name}-bottom {
		@extend .padding-#{$spacing-large-name}-bottom-xs;
	}



	/* 2.2.2 Margin
	=================================== */

	/* margin top - bottom */
	.margin-#{$spacing-large-name}-vertical {
		@extend .margin-#{$spacing-large-name}-vertical-xs;
	}
	.margin-#{$spacing-large-name}-top {
		@extend .margin-#{$spacing-large-name}-top-xs;
	}
	.margin-#{$spacing-large-name}-bottom {
		@extend .margin-#{$spacing-large-name}-bottom-xs;
	}
}



/* ==========================================================================
3.0 Spacings special
========================================================================== */

.margin-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}
.margin-none-childeren * {
	margin: 0 !important;
}
.margin-none-direct-childeren > * {
	margin: 0 !important;
}
.margin-none-last-child > *:last-child {
	margin: 0 !important;
}
.margin-none-last-paragraph p:last-child {
	margin: 0 !important;
}
