/* Editor component - Car color choices
---------------------------------------------*/
.colorSelection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 37rem;
	margin: 0 auto;
	padding: 2rem 1rem;

	&__listing {
		display: flex;
	}

	&__item {
		list-style-type: none;

		& + & {
			margin-left: .25rem;
		}
	}
}
