@import '../../../01_fundaments/colors/styles/_settings';

/* Carpart default
---------------------------------------------*/
.doorHandle {
	display: inline-flex;
	align-items: flex-end;
	justify-content: center;
	width: 3rem;
	height: 2rem;
	border-radius: 2rem;
	background: var(--car--color);
	box-shadow: inset 0 0 0 .15rem color('neutrals-6');

	filter: brightness(80%);

	/* DoorHandle leaver
	---------------------------------------------*/
	&:before {
		display: block;
		width: 1.75rem;
		height: 1rem;
		margin-bottom: .25rem;
		border-radius: 2rem;
		background: var(--car--color);
		box-shadow: inset 0 0 0 .15rem color('neutrals-6');
		content: '';

		filter: brightness(80%);
	}
}
