/*
 * Utilities - mixins
 */

 /* ==========================================================================
    Extendfull
    ========================================================================== */

	@mixin extendfull($direction:false) {
		@if not($direction) {
			@include bp(sm, max) {
	            padding-left:  30.0rem !important;
	            margin-left:  -30.0rem !important;
	            padding-right: 30.0rem !important;
	            margin-right: -30.0rem !important;
	        }
	        @include bp(md) {
	            padding-left:  300.0rem !important;
	            margin-left:  -300.0rem !important;
	            padding-right: 300.0rem !important;
	            margin-right: -300.0rem !important;
	        }
		}
		@else if $direction == left {
	        @include bp(sm, max) {
	            padding-left:  30.0rem !important;
	            margin-left:  -30.0rem !important;
	            padding-right: 30.0rem !important;
	            margin-right: -30.0rem !important;
	        }
	        @include bp(md) {
	            padding-left:  300.0rem !important;
	            margin-left:  -300.0rem !important;
	            padding-right: 0;
	            margin-right: 0;
	        }
		}
		@else if $direction == right {
			@include bp(sm, max) {
	            padding-left:  30.0rem !important;
	            margin-left:  -30.0rem !important;
	            padding-right: 30.0rem !important;
	            margin-right: -30.0rem !important;
	        }
	        @include bp(md) {
	            padding-left:  0;
	            margin-left:  0;
	            padding-right: 300.0rem !important;
	            margin-right: -300.0rem !important;
	        }
		}
	}

 /* ==========================================================================
    Hide / show element on breakpoint
    ========================================================================== */

	@mixin hide-until($breakpoint) {
		@include bp($breakpoint, max) { display: none; }
	}
	@mixin hide-from($breakpoint) {
		@include bp($breakpoint, min) { display: none; }
	}


/* ==========================================================================
   Appearance
   ========================================================================== */

	@mixin appearance($style) {
		-moz-appearance: $style;
		-webkit-appearance: $style;
		appearance: $style;
	}

/* ==========================================================================
   Center transform
   ========================================================================== */

	@mixin center-transform (
		$axis: false // or x or y
	) {

		position: absolute;

		@if $axis != x {
			top: 50%;
			margin-top: auto;
			margin-bottom: auto;
		}

		@if $axis != y {
			left: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		$translate-val: null;

		@if not($axis) {
			$translate-val: translate(-50%, -50%);
		}
		@else if $axis != x {
			$translate-val: translateY(-50%);
		}
		@else if $axis != y {
			$translate-val: translateX(-50%);
		}

		-webkit-transform: $translate-val;
		-ms-transform: $translate-val;
		transform: $translate-val;
	}

/* ==========================================================================
   Ellipsis
   ========================================================================== */

	@mixin ellipsis($width: 100%, $display: inline-block) {
		display: $display;
		max-width: $width;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
	}

/* ==========================================================================
   Word break with hyphens
   ========================================================================== */

	@mixin word-break() {
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}

/* ==========================================================================
   Fill up
   ========================================================================== */

	@mixin fill-up ($width-height: false) {
		position: absolute;
		left: 0;
		top: 0;
		@if $width-height {
			width: 100%;
			height: 100%;
		}
		@else {
			right: 0;
			bottom: 0;
		}
	}

/* ==========================================================================
   Hide Text
   ========================================================================== */

	/* Hides the text in an element, commonly used to show an image instead. 
	 * Some elements will need block-level styles applied.
	 */

	@mixin hide-text {
		overflow: hidden;
		text-indent: 101%;
		white-space: nowrap;
	}

/* ==========================================================================
   Invisible on/of
   ========================================================================== */

	@mixin invisible($toggle: on) {
		@if $toggle == "on" {
			border: 0;
			clip: rect(1px 1px 1px 1px);
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: circle(1% at 1% 1%);
			height: 1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		} @else if $toggle == "off" {
			clip: auto;
			clip-path: none;
			height: auto;
			overflow: visible;
			position: static;
			width: auto;
		}
	}

/* ==========================================================================
   No select
   ========================================================================== */

	@mixin no-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

/* ==========================================================================
   Transitions / Transforms
   ========================================================================== */

	/* @include transition(color .3s ease); */
	@mixin transition($args...) {
		-webkit-transition: $args;
		-moz-transition: $args;
		-ms-transition: $args;
		-o-transition: $args;
		transition: $args;
	}

	@mixin transform($transforms) {
		-moz-transform: $transforms;
		-o-transform: $transforms;
		-ms-transform: $transforms;
		-webkit-transform: $transforms;
		transform: $transforms;
	}

	@mixin rotate($deg) {
		@include transform(rotate(#{$deg}deg));
	}

	@mixin scale($scale) {
		@include transform(scale($scale));
	}

	@mixin translate($x, $y) {
		@include transform(translate($x, $y));
	}

	@mixin skew($x, $y) {
		@include transform(skew(#{$x}deg, #{$y}deg));
	}

	@mixin transform-origin ($origin) {
		moz-transform-origin: $origin;
		-o-transform-origin: $origin;
		-ms-transform-origin: $origin;
		-webkit-transform-origin: $origin;
		transform-origin: $origin;
	}

/* ==========================================================================
   Animation - Keyframe
   ========================================================================== */

	/*
	@include keyframes(move) {
		0%   { left: 0; }
		100% { left: 100px; }
	}

	or

	@include keyframes(move) {
		from { left: 0; }
		to   { left: 100px; }
	}
	*/

	@mixin keyframes($name) {
		@-webkit-keyframes #{$name} {@content}
		@-moz-keyframes #{$name} {@content}
		@-ms-keyframes #{$name} {@content}
		@-o-keyframes #{$name} {@content}
		@keyframes #{$name} {@content}
	}

/* ==========================================================================
   Animation - settings
   ========================================================================== */

	/*

	* Name

	The @keyframes name.

	* Duration

	The animation-duration property defines how many seconds or milliseconds an animation takes to complete one cycle.

	* Easings

	ease - Default value. specifies an animation with a slow start, then fast, then end slowly
	linear - specifies an animation with the same speed from start to end
	ease-in - specifies an animation with a slow start
	ease-out - specifies an animation with a slow end
	ease-in-out - specifies an animation with a slow start and end
	steps(<number_of_steps>, <direction>) - The second parameter defines the point at which the action declared in our @keyframes will occur. This value is optional and will default to “end” if left unspecified.  A direction of “start” denotes a left-continuous function and our animation’s first step will be completed as soon as the animation begins. It will jump immediately to the end of the first step and stay there until the end of this step duration.

	* IterationCount

	#number - 	Default value is 1. A number that defines how many times an animation should be played.
	infinite - Animation should be played infinite times

	* Direction

	normal - Default value. The animation should be played as normal
	reverse - 	The animation should play in reverse direction
	alternate - The animation will be played as normal every odd time (1,3,5,etc..) and in reverse direction every even time (2,4,6,etc...)
	alternate-reverse - The animation will be played in reverse direction every odd time (1,3,5,etc..) and in a normal direction every even time (2,4,6,etc...)
	
	* Fill Mode

	The animation-fill-mode property specifies a style for the element when the animation is not playing (when it is finished, or when it has a delay).

	none - 	Default value. The animation will not apply any styles to the target element before or after it is executing
	forwards - After the animation ends (determined by animation-iteration-count), the animation will apply the property values for the time the animation ended
	backwards - The animation will apply the property values defined in the keyframe that will start the first iteration of the animation, during the period defined by animation-delay. These are either the values of the from keyframe (when animation-direction is "normal" or "alternate") or those of the to keyframe (when animation-direction is "reverse" or "alternate-reverse")
	both - The animation will follow the rules for both forwards and backwards. That is, it will extend the animation properties in both directions

	* Play State

	The animation-play-state property specifies whether the animation is running or paused.

	running - Default value. Specifies that the animation is running
	paused - Specifies that the animation is paused

	* Notation:

	@include animation(Name, Duration, Easeing, Delay, IterationCount, Direction, FillMode, PlayState);

	* Example

	.box {
		@include animation(move 0.5s ease infinite alternate);
	}

	*/

	@mixin animation($value) {
		-webkit-animation: $value;
		-moz-animation: $value;
		-ms-animation: $value;
		-o-animation: $value;
		animation: $value;
	}