@import '../../../01_fundaments/utilities/styles/_settings';
@import '../../../01_fundaments/layout/styles/_settings';

/* Car section - rear
---------------------------------------------*/
.trunkSpace {
	display: inline-grid;
	grid-template-areas: '. .'
	'roofExtention spoiler'
	'trunk bumper'
	'wheel .';
	grid-template-rows: 14rem 14rem 14rem 7.5rem;
	grid-template-columns: 26rem auto;
	width: 100%;
	max-width: 28rem;

	/* Component placement
	---------------------------------------------*/
	.roofExtention {
		grid-area: roofExtention;
	}

	.spoiler {
		grid-area: spoiler;
		margin-left: -2.5rem;

		align-self: flex-end;
	}

	.trunk {
		grid-area: trunk;

		align-self: stretch;
	}

	.wheel {
		grid-area: wheel;
		margin: -7.5rem auto 0;
	}

	.bumper {
		grid-area: bumper;

		align-self: flex-end;
	}

	.button {
		grid-area: trunk;
		margin: -5rem auto 0;

		@include media('md') {
			margin-top: -2.5rem;
		}

		@include keyframes(pulsate-button) {
			25% {
				transform: scale(1.1);
			}
			50% {
				transform: scale(1);
			}
		}

		@at-root .trunkSpace:hover .button {
			@include animation(pulsate-button .75s ease-in-out infinite);
		}
	}
}
