.scroll-indicator {
	display: none;

	text-align: center;

	@include bp('md') {
		display: block;
	}

	// ie11
	@media all and (-ms-high-contrast:none) {
		display: none;
	}
	// edge
	@supports (-ms-ime-align:auto) and (not (position:sticky)) {
		display: none;
	}

	// icon
	svg {
		fill: color('brand-1');
	}

	// animation
	.scroll-indicator__content {
		@include animation(move 2s ease-in-out infinite alternate);

		@include keyframes(move) {
			from {
				@include translate(0, 0);

				opacity: 0;
			}
			to {
				@include translate(0, -6rem);

				opacity: 1;
			}
		}
	}

	// items
	.scroll-indicator__description,
	.scroll-indicator__icons {
		display: block;
	}

	// js hiding animation
	.js_scrolling-up &,
	.js_scrolling-down & {
		@include animation(hideScrollIndicator 1s ease-in-out both);

		@include keyframes(hideScrollIndicator) {
			from {
				opacity: 1;
			}
			to {
				opacity: 0;
			}
		}
	}
}
