/**
*
* TYPOGRAPHY: FUNCTIONS
*
*/

/* ==========================================================================
Font family - font-family: font(main);
========================================================================== */
@function font($face: 'main') {
	@return map-get($font-families, quote($face)), Helvetica, Verdana, Sans-serif;
}

/* ==========================================================================
Font weight - font-weight: font-weight(thin);
========================================================================== */

@function font-weight($weight: 'regular') {
	@return map-get($font-weights, $weight);
}

/* ==========================================================================
Font size - font-size: font-size(h1,desktop);
========================================================================== */

@function font-size($element: body, $device: 'mobile') {
	$the-element: map-get($font-sizes, quote($element));

	@return map-get($the-element, $device);
}

/* ==========================================================================
Line height - line-height: line-height(h1,desktop);
========================================================================== */

@function line-height($element: body, $device: 'mobile') {
	$the-element: map-get($line-heights, quote($element));

	@return map-get($the-element, $device);
}

/* ==========================================================================
Margins - margin: margin(h1,desktop);
========================================================================== */

@function margin($element: body, $device: 'mobile') {
	$the-element: map-get($margins, quote($element));

	@return map-get($the-element, $device);
}
