/* ==========================================================================
Typography mixins
========================================================================== */

/* @fontface
*  @include font-face('icons', normal, normal, 'icons');
*  @include font-face('Raleway',   400, normal, 'raleway-regular');
*  @include font-face('Raleway',   400, italic, 'raleway-regularitalic');
	========================================================================== */

@mixin font-face($name, $font-weight, $font-style, $filename) {
	@font-face {
		font-family: $name;
		font-style: $font-style;
		font-weight: $font-weight;

		src: url('#{$font-path}#{$filename}.eot');
		src: url('#{$font-path}#{$filename}.eot?#iefix') format('embedded-opentype'),
		// url('#{$font-path}#{$filename}.woff2') format('woff2'),
		url('#{$font-path}#{$filename}.woff') format('woff'),
		url('#{$font-path}#{$filename}.ttf') format('truetype'),
		url('#{$font-path}#{$filename}.svg##{$filename}') format('svg');
	}
}

/* Icon before/after - Option to change icon on breakpoint
*
*	Set icon with: @include icon(arrow-down, after);
* 	Option to change icon on breakpoint: @include icon(arrow-left, after, md);
========================================================================== */

@mixin icon($icon, $position: 'before', $change-icon-breakpoint: false) {
	/* Parent element */
	@if $change-icon-breakpoint {
		/* Icon element */
		&:#{$position} {
			@extend .icon-#{$icon}-#{$change-icon-breakpoint}:before;

			font-family: $icon-font;
			font-size: inherit;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			line-height: inherit;
			text-transform: none;

			speak: none;

			@content;
		}
	}
	@else {
		/* Icon element */
		&:#{$position} {
			@extend .icon-#{$icon}:before;

			font-family: $icon-font;
			font-size: inherit;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			line-height: inherit;
			text-transform: none;

			speak: none;

			@content;
		}
	}
}

/* Icon before/after - Option to hide text until breakpoint
*
*	@include icon(file, after, md);
========================================================================== */
@mixin icon-text($icon, $position: 'before', $hide-text-until-breakpoint: false) {
	/* Parent element */
	@if $hide-text-until-breakpoint {
		@include bp($hide-text-until-breakpoint, max) {
			font-size: 0;
		}
	}

	/* Icon element */
	&:#{$position} {
		@extend .icon-#{$icon}:before;

		font-family: $icon-font;
		font-size: inherit;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: inherit;
		text-transform: none;

		speak: none;

		/* Fallback font-size when parent 'hidden' */
		@if $hide-text-until-breakpoint {
			@include bp($hide-text-until-breakpoint, max) {
				font-size: 1.6rem;
			}
		}

		@content;
	}
}
