/* ================================
Button
=================================== */

.button {
	@include transition(all .3s ease);

	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: .5rem 4rem;

	border: .2rem solid color('brand-1');
	border-radius: .8rem;
	outline: 0;

	background: color('brand-1');

	color: color('white');
	text-align: center;
	text-decoration: none;

	cursor: pointer;

	/** Hover state
	----------------------------------- */
	&:hover,
	&:visited,
	&:focus {
		box-shadow: 0 0 1rem 0 rgba(color('black'),.26);
	}

	/** Active state
	----------------------------------- */
	&:active {
		border-color: color('brand-1', darker);

		background: color('brand-1', darker);
		box-shadow: 0 .1rem .2rem 0 rgba(color('black'),.24);

		color: color('neutrals-3');
	}

	/** Inverted
	----------------------------------- */
	&.button--inverted {
		background: color('white');

		color: color('brand-1');

		&:active {
			background: color('white', darker);

			color: color('brand-1', darker);
		}
	}
}

.button--menu {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.5rem 2.5rem;

	border: none;

	background: transparent;

	color: inherit;
	font-size: 3em;

	user-select: none;

	&:hover,
	&:visited,
	&:focus {
		box-shadow: none;
	}

	&:active {
		background: transparent;

		color: inherit;
	}
}

.button--menu-mobile {
	padding: 1rem;

	border: none;

	background: transparent;

	color: inherit;
	font-size: 2em;

	user-select: none;

	&:hover,
	&:visited,
	&:focus {
		outline: none;

		box-shadow: none;
	}

	&:active {
		background: transparent;

		color: inherit;
	}
}

.button--menu-page {
	padding: 0;

	border: none;

	background: transparent;

	color: inherit;
	font-size: 3.2rem;

	user-select: none;

	&:hover,
	&:visited,
	&:focus {
		outline: none;

		box-shadow: none;
	}

	&:active {
		background: transparent;

		color: inherit;
	}
}
