/* ================================
Button colors
=================================== */
.button--disabled {
	color: color('neutrals-4');
	background: color('neutrals-5');
	border-color: color('neutrals-5');
	cursor: not-allowed;

	/** Hover state
	----------------------------------- */
	&:hover,
	&:visited,
	&:focus {
		box-shadow: none;
	}

	/** Active state
	----------------------------------- */
	&:active {
		box-shadow: none;
		color: color('neutrals-4');
		background: color('neutrals-5');
		border-color: color('neutrals-5');
	}

	/** Inverted
	----------------------------------- */
	&.button--inverted {
		background: color('neutrals-4');
		color: color('neutrals-5');
		border-color: color('neutrals-4');

		&:active {
			background: color('neutrals-4');
			color: color('neutrals-5');
		}
	}
}

.button--brand-2 {
	color: color('white');
	background: color('brand-2');
	border: 0.2rem solid color('brand-2');

	/** Hover state
	----------------------------------- */
	&:hover,
	&:visited,
	&:focus {
		box-shadow: 0 0 1rem 0 rgba(color('black'),0.26);
	}

	/** Active state
	----------------------------------- */
	&:active {
		box-shadow: 0 0.1rem 0.2rem 0 rgba(color('black'),0.24);
		background: color('brand-2', darker);
		color: color('neutrals-3');
		border-color: color('brand-2', darker);
	}

	/** Inverted
	----------------------------------- */
	&.button--inverted {
		background: color('white');
		color: color('brand-2');

		&:active {
			color: color('brand-2', darker);
		}
	}
}

.button--brand-3 {
	color: color('white');
	background: color('brand-3');
	border: 0.2rem solid color('brand-3');

	/** Hover state
	----------------------------------- */
	&:hover,
	&:visited,
	&:focus {
		box-shadow: 0 0 1rem 0 rgba(color('black'),0.26);
	}

	/** Active state
	----------------------------------- */
	&:active {
		box-shadow: 0 0.1rem 0.2rem 0 rgba(color('black'),0.24);
		background: color('brand-3', darker);
		color: color('neutrals-3');
		border-color: color('brand-3', darker);
	}

	/** Inverted
	----------------------------------- */
	&.button--inverted {
		background: color('white');
		color: color('brand-3');

		&:active {
			color: color('brand-3', darker);
		}
	}
}